HTTP_PORT=8080
LOG_FORMAT=json
BASE_URL=http://localhost:8080


DB_HOST=localhost
DB_PORT=5432
DB_USER=db_user
DB_PASSWORD=db_password
DB_SSL_MODE=disable
DB_NAME=nango
MIGRATION_DIR=migrations

DB_MAX_OPEN_CONNECTIONS=25
DB_MAX_IDLE_CONNECTIONS=10